@model VeriShareApplication.Models.CustomerLoanViewModel
<head>
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #Home {
            background-color: red;
        }

        #News {
            background-color: green;
        }

        #Contact {
            background-color: blue;
        }

        #About {
            background-color: orange;
        }
    </style>
</head>
@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create</h2>
<br />
<br />
<br />
<br />
@using (Html.BeginForm("Create", "CustomerLoans", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <table class="table">

                <tr>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", @placeholder = "2019/01/03" })
                            <br />
                            @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", @placeholder = "2019/01/03" })
                            <br />
                            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <th width="180px">Agreement Type</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @*@Html.DropDownListFor(m => m.AgreementType, new { @class = "form-control", @placeholder = "First Name" })*@
                            @Html.DropDownList("AgreementId",null, htmlAttributes: new { @class = "form-control" })
                            <br />
                            @Html.ValidationMessageFor(m => m.AgreementTypeId, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Amount)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Amount" })
                            @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control hidden", @placeholder = "CustomerId" })
                            <br />
                            @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.RepoRate)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            @Html.TextBoxFor(m => m.RepoRate, new { @class = "form-control", @type = "number", @placeholder = "RepoRate" })
                            <br />
                            @Html.ValidationMessageFor(m => m.RepoRate, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th width="180px"></th>
                    <td>
                        <div class="input-group">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th width="180px">@Html.LabelFor(m => m.StatusCode)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-at"></i>
                            </div>
                            @Html.TextBoxFor(m => m.StatusCode, new { @class = "form-control", @readonly = "readonly", @placeholder = "StatusCode" })
                            <br />
                            @Html.ValidationMessageFor(m => m.StatusCode, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.TransectionMessage)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            @Html.TextBoxFor(m => m.TransectionMessage, new { @class = "form-control", @readonly = "readonly", @placeholder = "Out Put Message" })
                            <br />
                            @Html.ValidationMessageFor(m => m.TransectionMessage, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Agreementpicked)</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            @Html.TextBoxFor(m => m.Agreementpicked, new { @class = "form-control", @readonly = "readonly", @placeholder = "Agreement Type Selected" })
                            <br />
                            @Html.ValidationMessageFor(m => m.Agreementpicked, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <br />
    <br />
}

@*<p>
        @Html.ActionLink("Customer List", "Index", "Customers", new { @class = "btn btn-primary" })
    </p>*@

<br />
<br />
<br />
<button type="button" class="tablink" onclick="location.href='@Url.Action("CalcLoan", "CustomerLoan" )'">Calculate Agreement Loan</button>
<button type="button" class="tablink" onclick="location.href='@Url.Action("Create", "AgreementTypes")'">Add Agreement Type</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Index", "AgreementTypes")'">Agreement Type List</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Create", "Customers")'">Add Customer</button>

