@model VeriShareApplication.Models.CustomerLoan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerLoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgreementType.AgreementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgreementType.AgreementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepoRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepoRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransectionMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransectionMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agreementpicked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agreementpicked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
