@model IEnumerable<VeriShareApplication.Models.CustomerLoan>
<head>
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #Home {
            background-color: red;
        }

        #News {
            background-color: green;
        }

        #Contact {
            background-color: blue;
        }

        #About {
            background-color: orange;
        }
    </style>
</head>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgreementType.AgreementName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepoRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransectionMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agreementpicked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementType.AgreementName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepoRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransectionMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agreementpicked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.LoanId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.LoanId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.LoanId })
                </td>*@
        </tr>
    }

</table>


<br />
<br />
<br />
<button type="button" class="tablink" onclick="location.href='@Url.Action("Create", "AgreementTypes")'">Calculate Agreement Loan</button>
<button type="button" class="tablink" onclick="location.href='@Url.Action("Create", "AgreementTypes")'">Add Agreement Type</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Index", "AgreementTypes")'">Agreement Type List</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Create", "Customers")'">Add Customer</button>

