@model IEnumerable<VeriShareApplication.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #Home {
            background-color: red;
        }

        #News {
            background-color: green;
        }

        #Contact {
            background-color: blue;
        }

        #About {
            background-color: orange;
        }
    </style>
</head>

<br />
<br />
<br />
<br />
<h2 class="text-center">Customer List</h2>


<table class="table">
    <tr style="background-color:#808080;color:black">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(t => t.FirstName))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.ActionLink("Request Loan", "Create", "CustomerLoans", new { id = item.CustomerId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />
<button type="button" class="tablink" onclick="location.href='@Url.Action("Create", "AgreementTypes" )'">Calculate Agreement Loan</button>
<button type="button" class="tablink" onclick="location.href='@Url.Action("Create", "AgreementTypes" )'">Add Agreement Type</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Index", "AgreementTypes" )'">Agreement Type List</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Create", "Customers" )'">Add Customer</button>

