@model VeriShareApplication.Models.AgreementType

@{
    ViewBag.Title = "Create";
}
<head>
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #Home {
            background-color: red;
        }

        #News {
            background-color: green;
        }

        #Contact {
            background-color: blue;
        }

        #About {
            background-color: orange;
        }
    </style>
</head>
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AgreementType</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AgreementName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AgreementName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AgreementName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<br />
<br />
<br />

<button type="submit" class="tablink">@Html.ActionLink("Add Customer", "Create", "Customers", new { @style = "color:#f0eeee" })</button>
<button type="submit" class="tablink">@Html.ActionLink("Add Agreement Type", "Create", "AgreementTypes", new { @style = "color:#f0eeee" })</button>
<button type="submit" class="tablink">@Html.ActionLink("Customer List", "Index", "Customers", new { @style = "color:#f0eeee" })</button>
<button type="submit" class="tablink">@Html.ActionLink("Agreement List", "Index", "AgreementTypes", new { @style = "color:#f0eeee" })</button>
