@model IEnumerable<VeriShareApplication.Models.AgreementTypeViewModel>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
        }

            .tablink:hover {
                background-color: #777;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            display: none;
            padding: 100px 20px;
            height: 100%;
        }

        #Home {
            background-color: red;
        }

        #News {
            background-color: green;
        }

        #Contact {
            background-color: blue;
        }

        #About {
            background-color: orange;
        }
    </style>
</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AgreementTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementName)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementName)
        </td>

    </tr>
    }

</table>
<br />
<br />
<br />
<button type="button" class="tablink" onclick="location.href='@Url.Action("CalcLoan", "CustomerLoans" )'">Calculate Agreement Loan</button>
<button type="button" class="tablink" onclick="location.href='@Url.Action("Create", "AgreementTypes")'">Add Agreement Type</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Index", "AgreementTypes")'">Agreement Type List</button>
<button type="submit" class="tablink" onclick="location.href='@Url.Action("Create", "Customers")'">Add Customer</button>


